body {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rebeccapurple;
  background-color: mediumpurple;
  initial-letter: 1.5;
}
.imagen-principal {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1248px;
  height: 550px;
}
body h1 {
  text-align: center;
  color: brown;
}
#container {
  text-align: center;
}

#container > p {
  color: whitesmoke;
  text-align: justify;
  width: 350px;
  display: inline-flex;
  padding: 10px;
  margin: auto;
}
.container-productos {
  background-color: bisque;
  margin: 5px;
  text-align: center;
}

.imagen1 > img {
  padding: 10px;
  margin-top: 5px;
  width: 500px;
}

.imagen1 ~ p {
  width: 500px;
  display: inline-flex;
  text-align: justify;
  margin: 0 5px 10px 5px;
  color: blueviolet;
}

.link h3 {
  color: brown;
}

.lista-footer a {
  text-decoration: none;
  color: white;
}
.lista-footer a:hover {
  color: red;
}

footer div {
  margin: 2px;
  background-color: gray;
  text-align: center;
  color: black;
}
